## 11.1 Create a file called zoo.py. In it, define a function called hours() that prints the string 'Open 9-5 daily'. Then, use the interactive interpreter to import the zoo module and call its hours() function.

In [1]:
def hours():
    print('Open daily 9a-5p')

### below is the import file

In [ ]:
import zoo

zoo.hours()

## 11.2 In the interactive interpreter, import the zoo module as menagerie and call its hours() function.

In [ ]:
from zoo import hours
hours()

### needed to create a books database to complere 18.8 so here it is i used sqllite3

In [ ]:
import sqlite3
conn = sqlite3.connect(books.db)
curs = conn.cursor()
curs.execute('''CREATE TABLE books
             (title STR,
             author STR,
             year INT) ''')

## had chatGPT give rando data and i wrote this to pop the DB
data_to_insert = [
    ("To Kill a Mockingbird", "Harper Lee", 1960),
    ("1984", "George Orwell", 1949),
    ("The Great Gatsby", "F. Scott Fitzgerald", 1925)
]    

curs.executemany("INSERT INTO books VALUES (?, ?, ?)", data_to_insert)
    
curs.close()
conn.close()

## 16.8 Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 16.4. As in 16.6, select and print the title column from the book table in alphabetical order.

In [ ]:

import sqlalchemy as sa

engine = sa.create_engine('sqlite:///books.db')

conn = engine.connect()

meta = sa.MetaData()

books_table = sa.Table('books', meta, autoload=True, autoload_with=engine)
select_q = sa.select([books_table.columns.title]).order_by(books_table.columns.title)

res = conn.execute(select_q)

for row in res:
    print(row[0])
    
conn.close()